<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TEI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row style="justify-content: center;">
      <ion-col size="5" size-sm="4" size-md="3" size-lg="2" *ngFor="let room of rooms">
        <!-- Main Button -->
        <ion-button (click)="toggleSubs(room)" expand="block">
          <ion-label>{{ room }}</ion-label>
        </ion-button>
        <!-- Place Sub Buttons here if needed -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
